* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.head {
  background-image: url(images/tt.png);
  height: 100vh;
  width: 100%;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.headings {
  display: flex;
  padding-top: 40px;
  justify-content: space-between;
}
.headings h3 {
  color: white;
  margin-left: 30px;
  font-size: 1.5rem;
}

.headings ul {
  margin-right: 40px;
  font-size: 1.5rem;
}

.headings ul a {
  margin-right: 40px;
  color: white;
  position: relative;
}

.headings a::after {
  content: "";
  height: 3px;
  width: 0;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 0;
  bottom: -4px;
  transition: 0.6s;
}

.headings a:hover::after {
  width: 100%;
}

.heads {
  display: flex;
  flex-direction: column;
  color: white;
  display: flex;
  align-items: center;
  padding-top: 100px;
  margin-top: 100px;
  justify-content: center;
}

.heads h2{
  font-size: 2rem;
  line-height: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin-top: 35px;
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  line-height: 80px;
}

button {
  text-decoration: none;
  height: 40px;
  width: 100px;
  margin-left: 50px;
  margin-top: 20px;
  background-color: red;
  border-radius: 15px;
  width: 200px;
  height: 50px;
  border-color: transparent;
}

button a {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

.foot {
  height: 750px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.upcom {
  text-align: center;
}

.upc {
  margin-top: 100px;
  font-size: 3rem;
}

.boxes {
  display: flex;
  justify-content: center;
  margin-top: 110px;
  justify-content: space-around;
}

.box1 {
  background-image: url(images/img1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 500px;
}

.box2 {
  background-image: url(images/img2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 500px;
}

.para {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  font-size: 1.5rem;
}

.paragraph {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.sea {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.see {
  border: 2px solid black;
  padding: 7px 7px 7px 7px;
  border-radius: 15px;
  background-color: red;
  color: white;
  border: none;
}

.see2 {
  border: 2px solid black;
  padding: 7px 7px 7px 7px;
  border-radius: 15px;
  background-color: red;
  color: white;
  border: none;
}

.pic2 {
  background-image: url(images/bg2.png);
  height: 800px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.ano-head {
  margin-left: 100px;
}

.pora1 {
  padding-top: 270px;
}

.pora1 p {
  font-size: 5rem;
  color: white;
}

.pora2 p {
  margin-top: 50px;
  font-size: 1.1rem;
  color: white;
}

.pora3 p {
  font-size: 1.1rem;
  color: white;
}

.pora4 p {
  margin-left: 240px;
  padding-top: 7px;
  padding-left: 10px;
  margin-top: 50px;
  color: white;
  width: 100px;
  height: 35px;
  border-radius: 20px;
  background-color: red;
}

.last {
  height: 700px;
  width: 100%;
  display: flex;
}

.parogr {
  padding-top: 200px;
  padding-left: 200px;
  font-size: 2.5rem;
}

.ahri {
  font-size: 1rem;
  margin-top: 60px;
}

.lea {
  font-size: 1rem;
  margin-top: 60px;
  margin-left: 150px;
  border: 1px solid black;
  width: 100px;
  height: 30px;
  padding-top: 5px;
  padding-left: 9px;
  border-radius: 15px;
  background-color: red;
  color: white;
  border: none;
}

.bottom-box {
  margin-left: 100px;
  margin-top: 200px;
  margin-right: 50px;
}

.fisrt {
  display: flex;
}

.bex1 {
  background-image: url(images/img3.png);
  background-position: center;
  height: 200px;
  width: 300px;
}

.bex2 {
  background-image: url(images/img4.png);
  background-position: center;
  height: 200px;
  width: 300px;
  margin-left: 30px;
}

.secio {
  display: flex;
}

.bex3 {
  background-image: url(images/img5.png);
  background-position: center;
  height: 200px;
  width: 300px;
  margin-top: 20px;
}

.bex4 {
  background-image: url(images/img6.png);
  background-position: center;
  height: 200px;
  width: 300px;
  margin-top: 20px;
  margin-left: 30px;
}
